<% if (!user) { %>
  <div style="width:500px;height:180px;">
    <h2 style="font-size:40px;">Welcome! Please log in.</h2>
    <a href="/auth/facebook"><img src="fb.png" width="250" height="40"></a>
    </div>
<% } else { %>

    <section class="top">

		<nav>
			<div id="navContainer">
				<a href="http://localhost:3000/" id="logo">Moody Foodie</a>
			</div>
		</nav><div id="formContainer"><center>
			<p id="inputFields" >
				<span id='formTitle'><font size="6">Ingredients</font></span>
			

			</p>
		

		<form action="http://localhost:3000/recipes/">
			<input id="faceInput" name="faceLink" class="input" placeholder="What's the image address of your Face?"size = "40"></input>
			<br>
			<br>
			<input id="ingredientsInput" name="ingredient" class="input" placeholder="What's in your fridge?" size = "40"></input>
			<br>
			<h2>Last Used Ingredient: <%= hist_ing %></h2>
			<br>
			<button type="submit" id="search" onclick="main()" data-loading-text="Loading...">Search</button>
		</form></center></div>
			



		</section>
<% } %>
